@font-face{
  font-family: work;
  src: url('./WorkSans-VariableFont_wght.ttf');
}
body{
  font-family: work;
  background-color: black;
  color: white;
}
.footer{
  margin:0px auto;
  padding: 2rem 0px;
}
a{
  padding: 2rem 3rem;
  transform: scale(2);
}
a:hover{
  text-decoration: none;
  background: linear-gradient(blue, green, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h1{
  font-weight: bold;
  background: linear-gradient(180deg, red, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.carousel {
  width:700px;
  height:400px;
  margin: auto;
}
.carousel img{
  width: 640px;
  height: 360px;
}
@media (max-width: 900px) {
  .carousel {
    width:auto;
    height:auto;
  }
}